html{
  border-color: rgb(209, 115, 209);
}

p{
  text-align: center;
}

table {
  text-align: center;
  width: 100%;
  background-color: rgb(209, 115, 209);
  font-style: oblique;
}

label{
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: top;
}

.direita{
  display: inline-block;
}
